extends layout
block content
    // ==== HEADER START ==== //
    header
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
          // Container wrapper
          .container-fluid
            // Toggle button
            button.navbar-toggler(type='button' data-mdb-toggle='collapse' data-mdb-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
              i.fas.fa-bars
            // Collapsible wrapper
            #navbarSupportedContent.collapse.navbar-collapse
              // Navbar brand
              a.navbar-brand.mt-2.mt-lg-0(href='/')
                img(src='https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp' height='15' alt='MDB Logo' loading='lazy')
              // Left links
              ul.navbar-nav.me-auto.mb-2.mb-lg-0
                // Left links
                li.nav-item
                 a.nav-link(href='/') Главная

              .d-flex.align-items-center.col-3.btns
                a.btn.btn-danger(href="/logout" data-mdb-ripple-color='dark') Выйти
                button.btn.btn-primary(type='button' data-mdb-toggle='modal' data-mdb-target='#exampleModal') Добавить искусство
    // ==== HEADER END ==== //

    // ==== SECTION START ==== //
    section
        // Modal
        .alerts
          if err
            if err.errors
              .alert.alert-danger.col-3(role='alert')
                span(style="margin-left:7px;") Пожалуйста, заполните все поля
        #exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
          .modal-dialog
            .modal-content
              .modal-header
                h5#exampleModalLabel.modal-title Добавить искусство
                button.btn-close(type='button' data-mdb-dismiss='modal' aria-label='Close')
              form(action="/users/AddArt" method="post" enctype="multipart/form-data")
                .modal-body 
                  
                    .form-outline
                        input#form12.form-control(type='text' name="NameProd" required)
                        label.form-label(for='form12') 
                            span Названия искусства
                    .form-outline
                        textarea#textAreaExample.form-control(rows='4' name="DescrProd" required)
                        label.form-label(for='textAreaExample')
                            span Описания
              
                    .form-outline
                        label.form-label(for='customFile') Загрузить свое искусство:
                        input#customFile.form-control(type='file' name="File" accept="image/jpeg,image/png,image/gif")
              
                .modal-footer
                  button.btn.btn-secondary(type='button' data-mdb-dismiss='modal') Закрыть
                  button.btn.btn-primary(type='submit') Добавить
        
        .inf
            .card.col-4.shadow-5-strong
                .radius
                    img.card-img-top(src=user.Avatar alt='')
                .card-body
                  h4.card-title Ф.И.О:
                    span=user.Name
                  h4.card-title Почта:
                    span=user.Email
                  h4.card-title Логин:
                    span=user.Login
                  h4.card-title Пол:
                    span=user.Gander
                  h4.card-title Дата регистрации:
                    span=user.DateReg
                //-   h6.card-title Парол
                  //p.card-text
                    | Some quick example text to build on the card title and make up the bulk of the card's content.
                  a.btn.btn-primary(href='#!') Button
    // ==== SECTION END ==== //

    // ==== MAIN START ==== //
    main
      .boxes.col-10
        #exampleModal2.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
            .modal-dialog
              .modal-content
                .modal-header
                  h5#exampleModalLabel.modal-title Изменение искусства
                  button.btn-close(type='button' data-mdb-dismiss='modal' aria-label='Close')
                .modal-body 
                      .form-outline
                          input#form12.form-control.EditNameProd(type='text' name="NameProd" required)
                          label.form-label(for='form12') 
                              span Названия искусства
                      .form-outline
                          textarea#textAreaExample.form-control.EditNameDescrProd(rows='4' name="DescrProd" required)
                          label.form-label(for='textAreaExample')
                              span Описания

                      .form-outline
                          label.form-label(for='customFile') Загрузить свое искусство:
                          input#customFile.form-control.EditFile(type='file' name="File" accept="image/jpeg,image/png,image/gif")

                .modal-footer
                  button.btn.btn-secondary(type='button' data-mdb-dismiss='modal') Закрыть
                  button.btn.btn-warning#EditPR(type='submit') Изменить

        each products in Products
          .card.mt-5.shadow-4-strong(style='width: 18rem;')
            if products.Image != null
              img.card-img-top(src=products.Image alt='...')
            else
             
            .card-body
              h5.card-title=products.Subject
              p.card-text=products.Description
            ul.list-group.list-group-flush
              li.list-group-item
              li.list-group-item Автор:
                span=products.Author
              li.list-group-item Дата добавления:
                span=products.DateOfAddition
              li.list-group-item
            .card-body#btns
              button.btn.btn-outline-warning.EditProd(prodid=products.id type='button' data-mdb-toggle='modal' data-mdb-target='#exampleModal2')
                svg.bi.bi-pencil(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
                  path(d='M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z')
              a.btn.btn-danger.DelProd(prodId=products.id data-mdb-ripple-color="danger")
                svg.bi.bi-trash3(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
                  path(d='M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z')
    // ==== MAIN END ==== // 

















